################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aisys/.vs/Aisys/v15/
/Aisys/.vs/Aisys/v15/Server/sqlite3
/Aisys/Aisys.Application/bin/Debug/netcoreapp2.0
/Aisys/Aisys.Application/obj/Debug/netcoreapp2.0
/Aisys/Aisys.Core/bin/Debug/netcoreapp2.0
/Aisys/Aisys.Core/obj/Debug/netcoreapp2.0
/Aisys/Aisys.EFCore/bin/Debug/netcoreapp2.0
/Aisys/Aisys.EFCore/obj/Debug/netcoreapp2.0
/Aisys/Aisys.Web.Host/bin/Debug/netcoreapp2.0
/Aisys/Aisys.Web.Host/obj/Debug/netcoreapp2.0